{% extends "holodeck/layout.html" %}

{% load i18n holodeck_inclusion_tags %}

{% block title %}{{ dashboard.name }} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url holodeck-view-dashboard dashboard.pk %}">{{ dashboard.name }}</a></li>
{% endblock %}

{% block page_header %}
    <a href="{% url holodeck-new-metric dashboard.pk %}" class="btn pull-right btn-primary">{% trans "Create a new metric" %}</a>
    {{ block.super }}
{% endblock %}

{% block main %}
    <section class="body">
        {% for metric in metrics %}
            {{ metric.render }}
        {% endfor %}
    </section>
{% endblock %}
