
{% if metric.widget_type == 'pie_chart' %}
<div style="height:200px; width: 200px; float: left; background: url('static/holodeck/images/dashboard/toolbar-bg.png') repeat scroll 0 0 #F4F4F4; border: 1px solid #B6B9BD;">
    <div id="chart{{ metric.id }}" style="height:100%; width: 100%;">
        <span class="loading">{% trans "Loading historical data..." %}</span>
    </div>
</div>
<script type="text/javascript">
(function basic_pie(container) {
    var d1 = [
        [0, 4]
    ],
        d2 = [
            [0, 3]
        ],
        d3 = [
            [0, 1.03]
        ],
        d4 = [
            [0, 3.5]
        ],
        graph;
    graph = Flotr.draw(container, [{
        data: d1,
        label: "Comedy"
    }, {
        data: d2,
        label: "Action"
    }, {
        data: d3,
        label: "Romance",
    }, {
        data: d4,
        label: "Drama"
    }], {
        //HtmlText: false,
        title: "{{ metric.name }}",
        grid: {
            verticalLines: false,
            horizontalLines: false,
            outlineWidth: 0,
        },
        xaxis: {
            showLabels: false
        },
        yaxis: {
            showLabels: false
        },
        pie: {
            show: true,
            lineWidth: 2,
            explode: 0,
            fillOpacity: 0.9,
            sizeRatio: 0.65,
            labelFormatter: function(total, value) {
                return value;
            }
        },
        //mouse: {
        //    track: true
        //},
        legend: {
            show: false,
            //position: "se",
            //backgroundColor: "#D2E8FF"
        },
        colors: ["#3079d0", "#4da74d", "#edc240", "#cb4b4b"],
        shadowSize: 0,
    });
})(document.getElementById("chart{{ metric.id }}"));
</script>
{% endif %}
