{% load i18n %}

<div style="height:200px;">
    <div id="chart" style="height:200px; width:100%;">
        <span class="loading">{% trans "Loading historical data..." %}</span>
    </div>
</div>
<script type="text/javascript">
    (function basic(container) {
        var samples = [
            {% for sample in samples %}
                [{{ forloop.counter }}, {{ sample.integer_value }}],
            {% endfor %}
        ]
        graph = Flotr.draw(container, [samples], {
            title: "{{ metric.name }}",
            grid: {
                show: true,
                backgroundColor: '#f9f9f9',
                tickColor: '#eeeeee',
                outlineWidth: 0,
                labelMargin: 5,
            },
            shadowSize: 0,
            lines: {
                lineWidth: 2,
                show: true,
                fill: true,
                fillOpacity: 0.25,
            },
            points: {
                show: true,
                lineWidth: 2,
                hitRadius: 5,
            },
            mouse: {
                track: true,
                lineColor: "black",
                relative: true,
                position: "n",
                sensibility: 10,
            },
            colors: ["#3079d0", "#4da74d", "#edc240", "#cb4b4b"],
            yaxis: {
                min: 0,
                //max: 20
            },
        });
    })(document.getElementById("chart"));
</script>
